@import '../../assets/css/_base'

.oui-button
  $bg-color = $pittsburgh
  $text-color = $anchorage
  padding: .65em 1.25em
  background-color: $bg-color
  color: $text-color

  cursor: pointer
  font-weight: bold
  line-height: 1
  letter-spacing: 1.77px
  text-align: center
  text-decoration: none
  display: inline-block
  border: 2px solid $bg-color
  border-radius: 0
  no-select()

  &:hover, &:focus
    background-color: darken($bg-color, 5%)
    border-color: darken($bg-color, 5%)

  &:active
    background-color: darken($bg-color, 10%)
    border-color: darken($bg-color, 10%)

  &.oui-button--secondary
    $bg-color = $anchorage
    $text-color = $syracuse
    background-color: $bg-color
    color: $text-color
    border: 2px solid $bg-color

    &:hover, &:focus
      background-color: darken($bg-color, 5%)
      border-color: darken($bg-color, 5%)

    &:active
      background-color: darken($bg-color, 10%)
      border-color: darken($bg-color, 10%)
