@font-face
  font-family: 'Apercu'
  src: url('http://f.fontdeck.com/f/1/R0lwMG5YUjQAADMWyyF3HitT4oTCkILG1uurfTh4aljugGGG03KtO8/U09uTLUbTwVstZve2sIUvQVd0f4o8u2E2FW4/9prY/EaSQDtD8GyAtL4Td3j8JophoOWmKrVsuBGY4Y+QuwB0C8h/t47rUN3ZiHH+C+HBJkHXRV42+QpHSiUhRisl/2Hoga4bFpB9Bi8.eot')
  src: url('http://f.fontdeck.com/f/1/R0lwMG5YUjQAADMWyyF3HitT4oTCkILG1uurfTh4aljugGGG03KtO8/U09uTLUbTwVstZve2sIUvQVd0f4o8u2E2FW4/9prY/EaSQDtD8GyAtL4Td3j8JophoOWmKrVsuBGY4Y+QuwB0C8h/t47rUN3ZiHH+C+HBJkHXRV42+QpHSiUhRisl/2Hoga4bFpB9Bi8.eot?')format('embedded-opentype'),url('http://f.fontdeck.com/f/1/R0lwMG5YUjQAADMWyyF3HitT4oTCkILG1uurfTh4aljugGGG03KtO8/U09uTLUbTwVstZve2sIUvQVd0f4o8u2E2FW4/9prY/EaSQDtD8GyAtL4Td3j8JophoOWmKrVsuBGY4Y+QuwB0C8h/t47rUN3ZiHH+C+HBJkHXRV42+QpHSiUhRisl/2Hoga4bFpB9Bi8.woff')format('woff'),url('http://f.fontdeck.com/f/1/R0lwMG5YUjQAADMWyyF3HitT4oTCkILG1uurfTh4aljugGGG03KtO8/U09uTLUbTwVstZve2sIUvQVd0f4o8u2E2FW4/9prY/EaSQDtD8GyAtL4Td3j8JophoOWmKrVsuBGY4Y+QuwB0C8h/t47rUN3ZiHH+C+HBJkHXRV42+QpHSiUhRisl/2Hoga4bFpB9Bi8.ttf')format('opentype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('http://f.fontdeck.com/f/1/U21KazZDblEABjzU/9dj//asTFahUeQqn9gCsLbb0/3s+Xl0evEzEtxIwxf8eShbG4t+v1Y7m6P42MjuTOE8HnYtFrKnqTD8lFUibgkWvsF8AhqZPnVv5nt8zamS2ThPVZdbAHjlWzADdmRIi2Tkk4X6tBqU2d6PxBRrwIa9FK/o/LUczUfFIpW84M6r85l6JhOzDejTROFnNg.eot')
  src: url('http://f.fontdeck.com/f/1/U21KazZDblEABjzU/9dj//asTFahUeQqn9gCsLbb0/3s+Xl0evEzEtxIwxf8eShbG4t+v1Y7m6P42MjuTOE8HnYtFrKnqTD8lFUibgkWvsF8AhqZPnVv5nt8zamS2ThPVZdbAHjlWzADdmRIi2Tkk4X6tBqU2d6PxBRrwIa9FK/o/LUczUfFIpW84M6r85l6JhOzDejTROFnNg.eot?')format('embedded-opentype'),url('http://f.fontdeck.com/f/1/U21KazZDblEABjzU/9dj//asTFahUeQqn9gCsLbb0/3s+Xl0evEzEtxIwxf8eShbG4t+v1Y7m6P42MjuTOE8HnYtFrKnqTD8lFUibgkWvsF8AhqZPnVv5nt8zamS2ThPVZdbAHjlWzADdmRIi2Tkk4X6tBqU2d6PxBRrwIa9FK/o/LUczUfFIpW84M6r85l6JhOzDejTROFnNg.woff')format('woff'),url('http://f.fontdeck.com/f/1/U21KazZDblEABjzU/9dj//asTFahUeQqn9gCsLbb0/3s+Xl0evEzEtxIwxf8eShbG4t+v1Y7m6P42MjuTOE8HnYtFrKnqTD8lFUibgkWvsF8AhqZPnVv5nt8zamS2ThPVZdbAHjlWzADdmRIi2Tkk4X6tBqU2d6PxBRrwIa9FK/o/LUczUfFIpW84M6r85l6JhOzDejTROFnNg.ttf')format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('http://f.fontdeck.com/f/1/VUJtWGNTdE4AB6Out7ZK7VjEdkms7raF263VttwiMlMj7NQgzLsL2Ge1QsbofHCO5WsFTurFZLTR3cYJi8vNDgR5iyzuG5i5lky7kEgCFdDKKrwZrDWF0+4rNIRjZQ9cqePGAvbiiHX4l/TsabxDLoaj/GRsLDNxP1kW7/reZoDPmaZWAYiB4hnKRF6KX52ZeGG340+mZvb/qA.eot')
  src: url('http://f.fontdeck.com/f/1/VUJtWGNTdE4AB6Out7ZK7VjEdkms7raF263VttwiMlMj7NQgzLsL2Ge1QsbofHCO5WsFTurFZLTR3cYJi8vNDgR5iyzuG5i5lky7kEgCFdDKKrwZrDWF0+4rNIRjZQ9cqePGAvbiiHX4l/TsabxDLoaj/GRsLDNxP1kW7/reZoDPmaZWAYiB4hnKRF6KX52ZeGG340+mZvb/qA.eot?')format('embedded-opentype'),url('http://f.fontdeck.com/f/1/VUJtWGNTdE4AB6Out7ZK7VjEdkms7raF263VttwiMlMj7NQgzLsL2Ge1QsbofHCO5WsFTurFZLTR3cYJi8vNDgR5iyzuG5i5lky7kEgCFdDKKrwZrDWF0+4rNIRjZQ9cqePGAvbiiHX4l/TsabxDLoaj/GRsLDNxP1kW7/reZoDPmaZWAYiB4hnKRF6KX52ZeGG340+mZvb/qA.woff')format('woff'),url('http://f.fontdeck.com/f/1/VUJtWGNTdE4AB6Out7ZK7VjEdkms7raF263VttwiMlMj7NQgzLsL2Ge1QsbofHCO5WsFTurFZLTR3cYJi8vNDgR5iyzuG5i5lky7kEgCFdDKKrwZrDWF0+4rNIRjZQ9cqePGAvbiiHX4l/TsabxDLoaj/GRsLDNxP1kW7/reZoDPmaZWAYiB4hnKRF6KX52ZeGG340+mZvb/qA.ttf')format('opentype')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('http://f.fontdeck.com/f/1/ZkNCVzJsaloAB2tmqo3vyxViSFzus++uiKCtFaQeoj37buisBugygWw7QlEKL2sexJOveT32FjDaPhGHKwl83eYTr4Ym2wwIhwzEeZnw25J+GsKtJ/z3J2Q/JZmBBwK3XuVraVp/9CAQZdqFV4VpPq6z1E0EvNptxC4UaDhsaITkZeeqp75qkpEMgd3Ffvz1DB8w3lkcHRS6nA.eot')
  src: url('http://f.fontdeck.com/f/1/ZkNCVzJsaloAB2tmqo3vyxViSFzus++uiKCtFaQeoj37buisBugygWw7QlEKL2sexJOveT32FjDaPhGHKwl83eYTr4Ym2wwIhwzEeZnw25J+GsKtJ/z3J2Q/JZmBBwK3XuVraVp/9CAQZdqFV4VpPq6z1E0EvNptxC4UaDhsaITkZeeqp75qkpEMgd3Ffvz1DB8w3lkcHRS6nA.eot?')format('embedded-opentype'),url('http://f.fontdeck.com/f/1/ZkNCVzJsaloAB2tmqo3vyxViSFzus++uiKCtFaQeoj37buisBugygWw7QlEKL2sexJOveT32FjDaPhGHKwl83eYTr4Ym2wwIhwzEeZnw25J+GsKtJ/z3J2Q/JZmBBwK3XuVraVp/9CAQZdqFV4VpPq6z1E0EvNptxC4UaDhsaITkZeeqp75qkpEMgd3Ffvz1DB8w3lkcHRS6nA.woff')format('woff'),url('http://f.fontdeck.com/f/1/ZkNCVzJsaloAB2tmqo3vyxViSFzus++uiKCtFaQeoj37buisBugygWw7QlEKL2sexJOveT32FjDaPhGHKwl83eYTr4Ym2wwIhwzEeZnw25J+GsKtJ/z3J2Q/JZmBBwK3XuVraVp/9CAQZdqFV4VpPq6z1E0EvNptxC4UaDhsaITkZeeqp75qkpEMgd3Ffvz1DB8w3lkcHRS6nA.ttf')format('opentype')
  font-weight: bold
  font-style: normal
