article
  h2.oui-header.oui-header__with-line Typography

  section
    .div(style="width:322px")
      h1
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
      h2
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
      h3
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
      h4
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
      h5
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
      h6
        | kale chips narwhal cray pop-up pork belly occupy Brooklyn.

