section.sg-headers
  h2.with-line Header names

  h1
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
  h2
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
  h3
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
  h4
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
  h5
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.
  h6
    | kale chips narwhal cray pop-up pork belly occupy Brooklyn.

