// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
// $helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
// $helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
// $georgia = Georgia, Cambria, "Times New Roman", Times, serif
// $lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
// $monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
// $verdana = Verdana, Geneva, sans-serif
$apercu = "Apercu", "Helvetica Neue", Calibri, Roboto, sans-serif;

// Default font settings
$font-stack = $apercu
$font-size = 16
$font-color = $anchorage

$masthead-height = 85px


// Site Colors
$venice           = #F3DE61
$melbourne        = #49B7C2
$anchorage        = #252729
$london           = #575757
$detroit          = #808080
$portland         = #C2C2C2
$pittsburgh       = #E0E0E0
$syracuse         = #F4F4F4

// hover state
$venice-hover     = #EFD744
$anchorage-hover  = #3A3D41
$london-hover     = $anchorage
$detroit-hover    = $london
$portland-hover   = $detroit
$pittsburgh-hover = $portland
$syracuse-hover   = $pittsburgh

// alt names
// $blue             = $melbourne
// $yellow           = $venice
// $lightYellow      = $venice-hover
// $black            = $anchorage
// $darkGray         = $london
// $gray             = $detroit
// $lightGray        = $portland
// $lighterGray      = $pittsburgh
// $lightestGray     = $syracuse

// Brand Colors
$primaryColor     = $anchorage
$secondaryColor   = $venice


// Colors (via http://clrs.cc - slightly modded)
$navy     = #001F3F
$blue     = #0074D9
$aqua     = #7FDBFF
$teal     = #39CCCC
$olive    = #3D9970
$green    = #2ECC40
$lime     = #01FF70
$yellow   = #FFDC00
$orange   = #FF851B
$red      = #D13F19
$maroon   = #85144B
$fuchsia  = #F012BE
$purple   = #B10DC9
$white    = #FFFFFF
$silver   = #DDDDDD
$gray     = #AAAAAA
$black    = #222222

// Use as default HTML colors
navy    = $navy
blue    = $blue
aqua    = $aqua
teal    = $teal
olive   = $olive
green   = $green
lime    = $lime
yellow  = $yellow
orange  = $orange
red     = $red
maroon  = $maroon
fuchsia = $fuchsia
purple  = $purple
white   = $white
silver  = $silver
gray    = $gray
black   = $black

// Default color
$default-color = $anchorage

// Text highlight color
$highlight-color = $venice

// Custom image base path for axis mixins
$img-path = ''

// Ligatures
$ligatures = false
