@import '_base'

@import 'fonts/apercu'

global-reset()
normalize-css()
border-box-html()
fluid-media()
base()
typography()

html.wf-loading
  visibility: hidden

html.wf-active
  visibility: visible

h1, .h1, .h-mighty
  -heading(3.125) // 50px
h2, .h2, .h-big
  -heading(2.375) // 38px
h3, .h3, .h-fair
  -heading(2.0)   // 32px
h4, .h4, .h-meager
  -heading(1.563) // 25px
h5, .h5, .h-meh
  -heading(1.125) // 18px
h6, .h6, .h-min
  -heading(1.0)   // 16px

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
  margin: 0 0 0.5em
  line-height: 1.25;



.sg-wrapper
  // TODO: when we get lost working
  // lost-center: 900px
  center: 900px

.oui-component
  padding: 50px 0

.oui-header
  padding-bottom: 20px
  margin-bottom: 30px
  border-bottom: 1px solid $portland


.div-50
  col(1/2)
