@import '_settings'

// global-reset()
normalize-css()
// border-box-html()
// fluid-media()
base()
typography()

html.wf-loading
  visibility: hidden

html.wf-active
  visibility: visible

h1
  -heading(3.571) // 50px
  margin: 0;
h2
  -heading(2.714) //
  margin: 0;
