extends layouts/main

block content
  .oui-component
    include ./components/masthead/_content

  .oui-component
    include ./components/button/_content

  .oui-component
    include ./components/typography/_content

