doctype html
html

head
  meta(charset='utf8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
  meta(name='description', content='description of your site')
  meta(name='author', content= "author of the site")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= _path

  script(type="text/javascript").
    WebFontConfig = { fontdeck: { id: '57453' } };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();

  != css()

body
  h1 All the styles!

  block content
